%%% -*-erlang-*-

%% rebar doesn't provide an explicit way to disable the port compilation
%% (that I could see without spending yet-more-time-reading-rebar-source)
%% so use this hack to tell it NO!
{port_specs, [{"nomatch_hack", "", []}]}.

%% Despite the port spec hack above, "cd c_src; make clean" is somehow
%% magically being called, so omit here as a "clean" hook. Still need the
%% "compile" hook.
{post_hooks, [{compile,"make -C c_src"}]}.
